.button {
  border: none;
  border-radius: var(--input-border-radius);
  box-shadow: var(--box-shadow-sm);
  min-height: 2rem;
  min-width: 6rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: var(--inset-box-shadow);
  }
}

