.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 .35rem;
  box-shadow: var(--inset-box-shadow);
}

.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.nav-item {
  padding: .5rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--input-border-radius);
  box-shadow: var(--box-shadow-sm);
}
